body {
    background:#333333;
    color:beige;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .checkbox-group input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-group label {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 5px;
  }
  
  .checkbox-group input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
  }

#random-link-container{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#random-link-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    width: 20%;
    height: 10vh;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
}

#random-link-container a:hover{
    background-color: #0065d1;
}

#refresh {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#refresh img:hover {
    background-color: #007bff;
    border-radius: 5px;
    transform: scale(1.1);
}

#footer {
    position: relative;
    
}

#btnOpenForm {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #007bff;
   color: #ffffff;
   text-decoration: none;
   border-radius: 5px;
   width: 15vw;
   height: 5vh;
   left: 50%;
   bottom: -35vh;
   transform: translateX(-50%);
}

.form-popup-bg {
 position:absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
}
.form-popup-bg {
 position: fixed;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(94, 110, 141, 0.9);
 opacity: 0;
 visibility: hidden;
 -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
 -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
 transition: opacity 0.3s 0s, visibility 0s 0.3s;
 overflow-y: auto;
 z-index: 10000;
}
.form-popup-bg.is-visible {
 opacity: 1;
 visibility: visible;
 -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
 -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
 transition: opacity 0.3s 0s, visibility 0s 0s;
}
.form-container {
   background-color: #2d3638;
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   position:relative;
 padding: 40px;
 color: #fff;
}

.form-container a{
    color: white;
}
.close-button {
 background:none;
 color: #fff;
 width: 40px;
 height: 40px;
 position: absolute;
 top: 0;
 right: 0;
 border: solid 1px #fff;
}

.form-popup-bg:before{
   content:'';
   background-color: #fff;
 opacity: .25;
 position:absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

#form-control {
    position: relative;
    width: 50%;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#your_link {
    text-decoration: none;
}
#update_access {
    display: inline;
    color: white;
    background-color: #007bff;
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (max-width:1000px){
    .checkbox-group input[type="checkbox"] {
        display: none;
      }
      
      .checkbox-group label {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 1em;
        cursor: pointer;
        border: 1px solid #999999;
        border-radius: 5px;
        font-size: 1.6em;
      }
      
      .checkbox-group input[type="checkbox"]:checked + label {
        background-color: #007bff;
        color: #ffffff;
        border-color: #007bff;
      }

    #random-link-container {
        margin-top: 17vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #random-link-container a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 10px;
        width: 40%;
        height: 20vh;
        font-size: 3em;
        font-weight: bolder;
        padding: 10px;
    }

    #refresh {
        margin: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    #refresh img {
        width: 80px;
        height: 80px;
    }

    #refresh img:hover {
        background-color: #007bff;
        border-radius: 10px;
        transform: scale(1.1);
    }

    #footer {
        bottom: 20vh;
        font-size: 2em;
    }

    #buttons button{
        font-size: 1em;
    }

    #form-control {
        position: relative;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1em;
    }

    #btnOpenForm {
        font-size: 1em;
        width: fit-content;
    }
}